@charset "utf-8";

$fa-font-path: "../webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

$primary: hsl(0, 0%, 29%);
$card-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);

@import "../node_modules/bulma/bulma.sass";

.disable-scrolling {
  overflow: hidden !important;
}

.home-breadcrumb {
  @extend .breadcrumb;
  a {
    color: $white;
    font-weight: bold;
    &:hover {
      color: $turquoise;
    }
  }
  li {
    &.is-active {
      a {
        color: $grey-dark;
      }
    }
    & + li::before {
      color: $white;
    }
  }
}

@media screen and (min-width: 1024px)  {
  h1.title {
    margin-top: 1rem; 
  }
}

span.media-icon {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  color: $white;
  &:hover {
    color: $turquoise;
  }
}

p.date {
  font-size: 0.8rem;
  font-style: italic;
  color: #555;
  margin-bottom: 1rem;
}

pre {
  background: #282a36;
  margin: 0.75rem -0.75rem 0.75rem -0.75rem;
  border-radius: 6px;
}

img.is-in-article {
  margin: 0.75rem auto 0.75rem auto;
}

.content {
  p {
    margin-bottom: 0 !important;
  }
}

div.footer {
  font-size: 0.8rem;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e1e4e8;
  background-color: $white;
}

.content {
  h4, h5, h6 {
    margin-top: 1.3em;
  }
}

blockquote {
  margin-top: 1em;
}
