@charset "utf-8";

$fa-font-path: "../webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

$primary: hsl(0, 0%, 29%);

@import "../node_modules/bulma/bulma.sass";


.disable-scrolling {
  overflow: hidden !important;
}

.home-breadcrumb {
  @extend .breadcrumb;
  a {
    color: $white;
    font-weight: bold;
    &:hover {
      color: $turquoise;
    }
  }
  li {
    &.is-active {
      a {
        color: $grey-dark;
      }
    }
    & + li::before {
      color: $white;
    }
  }
}

